.bikes {
  font-family: "Open Sans Condensed", Arial, sans-serif;
  .wrapper();

  &__wrapper {
    width: 360px;
  }
  &__header {
    margin: 0;
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-weight: 200;
  }
  &--fixies {
    background-color: #5e85be;
  }
  &--cruisers {
    background-color: #a870cf;
  }

  @media (min-width: @widescreen-width) {
    width: 50%;
  }
}
